.card {
  outline: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  height: 140px;
  padding: 20px;
  background: linear-gradient(90deg, #3f51b5 0%, #df1962 100%);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 15px black;
  transform: scale(1.005);
}
.card__desc {
  display: flex;
  align-items: center;
}
.card__img {
  max-width: 200px;
  height: 100px;
  margin-right: 20px;
}
.card__img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.card__name {
  font-size: 28px;
  text-transform: uppercase;
}
.card__info {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: lightgray;
  text-transform: capitalize;
  margin-top: 20px;
}
.card__platform {
  font-size: 20px;
  height: auto;
  width: auto;
  margin-right: 10px;
}
.card__price {
  font-size: 28px;
}
