.card {
  outline: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  height: 140px;
  padding: 20px;
  background: linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(223, 25, 98, 1) 100%);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 15px black;
    transform: scale(1.005);
  }

  &__desc {
    display: flex;
    align-items: center;
  }

  &__img {
    max-width: 200px;
    height: 100px;
    margin-right: 20px;

    & img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }

  &__name {
    font-size: 28px;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: lightgray;
    text-transform: capitalize;
    margin-top: 20px;
  }

  &__platform {
    font-size: 20px;
    height: auto;
    width: auto;
    margin-right: 10px;
  }

  &__price {
    font-size: 28px;
  }

}
