<ng-container *ngIf="{
product: product$ | async,
favouritesIds: favouritesIds$ | async
} as data"
>
  <div class="container">
    <div class="product">

      <div class="header">

        <div class="product__title">
          {{data.product?.title}}

          <button *ngIf="data.favouritesIds.includes(data.product?._id)" (click)="deleteFavourite()" mat-icon-button
                  color="accent">
            <mat-icon>favorite</mat-icon>
          </button>
          <button *ngIf="!data.favouritesIds.includes(data.product?._id)" (click)="addFavourite()" mat-icon-button
                  color="accent">
            <mat-icon>favorite_border</mat-icon>
          </button>

        </div>

        <div class="product__info">
          <div class="product__img">
            <img src='{{apiURL}}/{{data.product?.image}}'>
          </div>

          <div class="product__buy">
            <div class="product__buy-price">
              {{data.product?.price | currency:'RUB':'symbol-narrow':'1.0-0'}}
            </div>
            <button class="product__buy-btn" mat-raised-button color="accent">в корзину</button>
          </div>
        </div>

      </div>

      <div class="product__rating" [style.backgroundColor]="getColor(data.product?.rating)">
        <div class="product__rating-value">{{data.product?.rating}}</div>
        <div class="product__rating-desc">Metacritic</div>
      </div>

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Об игре">
          <div class="product__about">
            <ul class="product__about-list">
              <li class="product__about-item">
                <div class="product__about-title">Жанр</div>
                {{data.product?.genre}}
              </li>
              <li class="product__about-item">
                <div class="product__about-title">Платформа</div>
                {{data.product?.platform}}
              </li>
              <li class="product__about-item">
                <div class="product__about-title">Дата выхода</div>
                {{data.product?.release | date:"longDate"}}
              </li>
              <li class="product__about-item">
                <div class="product__about-title">Разработчик</div>
                {{data.product?.developer}}
              </li>
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="Описание">
          <div class="product__desc">
            {{data.product?.description}}
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</ng-container>
