<div class="container">
  <div class="product">

    <div class="header">

      <div class="product__title">
        {{product?.title}}
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
      </div>

      <div class="product__info">
        <div class="product__img">
          <img src='http://localhost:3000/{{product?.image}}'>
        </div>

        <div class="product__buy">
          <div class="product__buy-price">
            {{product?.price | currency:'RUB':'symbol-narrow':'1.0-0'}}
          </div>
          <button class="product__buy-btn" mat-raised-button color="accent">в корзину</button>
        </div>
      </div>

    </div>

    <div class="product__rating" [style.backgroundColor]="getColor(product?.rating)">
      <div class="product__rating-value">{{product?.rating}}</div>
      <div class="product__rating-desc">Metacritic</div>
    </div>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Об игре">
        <div class="product__about">
          <ul class="product__about-list">
            <li class="product__about-item">
              <div class="product__about-title">Жанр</div>
              {{product?.genre}}
            </li>
            <li class="product__about-item">
              <div class="product__about-title">Платформа</div>
              {{product?.platform}}
            </li>
            <li class="product__about-item">
              <div class="product__about-title">Дата выхода</div>
              {{product?.release | date:"longDate"}}
            </li>
            <li class="product__about-item">
              <div class="product__about-title">Разработчик</div>
              {{product?.developer}}
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Описание">
        <div class="product__desc">
          {{product?.description}}
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
