.container {
  display: flex;
  justify-content: center;
}
.order {
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}
.order__header {
  margin-bottom: 25px;
}
.order__header:last-child {
  margin-bottom: 0;
}
.order__desc {
  display: flex;
  justify-content: space-between;
}
.order__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #f3f3f3;
}
.order__item:first-child {
  border-top: 2px solid #f3f3f3;
  padding-top: 25px;
}
.order__item-desc {
  display: flex;
  align-items: center;
  width: 75%;
}
.order__item-img {
  max-width: 150px;
  height: 75px;
  margin-right: 25px;
}
.order__item-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.order__item-img img:hover {
  transform: scale(1.05);
}
.order__item-title {
  cursor: pointer;
}
.order__item-title:hover {
  outline: none;
  color: #5262bc;
}
.order__item-quantity {
  flex-grow: 1;
}
.order__item-price {
  flex-grow: 1;
  font-weight: lighter;
}
