.container{
  display: flex;
  justify-content: center;
}

.order{
  width: 60vw;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 50px;

  &__header{
    margin-bottom: 25px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__desc{
    display: flex;
    justify-content: space-between;

    &-status {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }

  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid #f3f3f3;

    &:first-child{
      border-top: 2px solid #f3f3f3;
      padding-top: 25px;
    }

    &-desc{
      display: flex;
      align-items: center;
      width: 75%;
    }

    &-img{
      max-width: 150px;
      height: 85px;
      margin-right: 25px;

      & img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;

        &:hover{
          transform: scale(1.05);
        }
      }
    }

    &-title{
      cursor: pointer;

      &:hover{
        outline: none;
        color: #5262bc;
      }
    }

    &-quantity{
      flex-grow: 1;
    }

    &-price {
      flex-grow: 1;
      font-weight: lighter;
    }

    &-amount {

    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__actions {
    text-align: center;
    font-weight: bold;
    font-size: 16px;

    & button {
      margin-top: 50px;
      width: 100%;
      background-image: linear-gradient(#d61361, #d61361);
      background-repeat: no-repeat;
      background-size: 100% 0;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-size: 100% 100%;
      }
    }
  }

}

