.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.filter {
  width: 60vw;

  &__search {
    width: 100%;
  }

  &__filters{
    display: flex;
  }

  &__item{
    margin-right: 50px;
    outline: none;
  }

  &__icon{
    justify-content: flex-end;
  }

  &__btn{
    margin-top: 25px;
    width: 100%;
  }
}

.create{
  display: flex;
  justify-content: center;
  width: 60vw;
  margin-top: 25px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

