<div class="container">

  <div class="filter">
    <mat-form-field class="filter__input" appearance="outline">
      <mat-label>Поиск по названию</mat-label>
      <input matInput placeholder="Введите название">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="create" >
    <button style="width: 100%" mat-flat-button color="primary" (click)="openAddForm()">Добавить товар</button>
  </div>

  <div class="content">
    <app-catalog-item *ngFor="let product of products$ | async" [product]="product" [isFavourite]="false">
    </app-catalog-item>
  </div>

</div>
