<div class="container">

  <div class="filter">
    <mat-form-field class="filter__search" appearance="outline">
      <mat-label>Поиск по названию</mat-label>
      <input #search (keyup)="searchFilter(search.value)" matInput placeholder="Введите название">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Фильтры
        </mat-panel-title>
        <mat-panel-description class="filter__icon">
          <mat-icon>filter_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="filter__filters">
        <mat-selection-list #platforms [(ngModel)]="platform" (selectionChange)="filterCatalog()" class="filter__item" [multiple]="false">
          <div mat-subheader>Платформа</div>
          <mat-list-option *ngFor="let platform of listOfPlatforms" [value]="platform">
            {{platform}}
          </mat-list-option>
        </mat-selection-list>

        <mat-selection-list #genres [(ngModel)]="genre" (selectionChange)="filterCatalog()" class="filter__item" [multiple]="false">
          <div mat-subheader>Жанр</div>
          <mat-list-option *ngFor="let genre of listOfGenres" [value]="genre">
            {{genre}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <button (click)="clearFilter(platforms, genres)" mat-raised-button color="primary" class="filter__btn">Очистить фильтры</button>

    </mat-expansion-panel>
  </div>

  <div class="create" >
    <button style="width: 100%" mat-flat-button color="primary" (click)="openAddForm()">Добавить товар</button>
  </div>

  <div class="content">
    <app-catalog-item *ngFor="let product of products$ | async" [product]="product" [isFavourite]="false">
    </app-catalog-item>
  </div>

</div>
