.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.filter__input {
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 25px;
  margin-top: 25px;
}
